{% extends 'base.html' %}
{% block content %}

    <!-- ======= Services Section ======= -->
    
    <section class="services">
        <div class="container" id="about">
            <div class="row">
                <div class="col-md-12 text-center text-white  ">
                    <h1>About Section</h1>
                    <hr>
    
                </div>
            </div>
    
    
            <div class="row">
    
                <div class="col-md-6  d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Recomendation</a></h4>
                        <p class="description">This is a realtime system that can predict a course of students choice using  colaboarative filtering algorithmn</p>
                    </div>
                </div>
    
                <div class="col-md-6  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Efficiency</a></h4>
                        <p class="description">The algorithmn is effective and gives more acurate results than the existing systems </p>
                    </div>
                </div>
    
    
    
    
            </div>
    
        </div>
    </section><!-- End Services Section -->
{% endblock %}