{% extends 'base.html' %}
{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
      <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
    
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h3 class="animated fadeInDown text-white">Course Recommender<span> System</span></h3>
            <p class="animated fadeInUp">Optimal course Choice at the palm of your hand!!.</p>
            <a href="{% url 'login' %}" class="btn-get-started animated fadeInUp">Login</a>
            <a href="{% url 'register' %}" class="btn-get-started animated fadeInUp">Sign Up</a>
    
          </div>
        </div>


        
    
     
    
    
    
    
    
      </div>
    </section><!-- End Hero -->








  
    
    
    




    
{% endblock %}