{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }
    
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br><br>

<div class="container" data-aos="fade-up" >
    <div class="row" >
        <div class="col-md-12 text-center" >
            <h1 class="btn btn-success btn-lg"> in progress>>>.......</h1>
        </div>
    </div>

    <div class="row text-white ">
       <div class="col text-center">
        <ul class="nav-link" style="list-style: none;">
            <li>photo <i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>bio<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>first name<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>last name<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>email<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>phone<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>
            <li>county<i class="fa fa-times" style="color: red;font-size:20px" aria-hidden="true"></i></li>

        </ul>
       </div>
    </div>
</div>



{% endblock %}