{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .card {
        background-color:rgb(14, 14, 92);
        color:#fff;
    }
    .form-group span{
        position: absolute;
        bottom:auto;
      
        right:  30px;
        font-weight: bold;
       
        font-size: 14px;
        color: red;
    }
    .form-group span i{
         color: rgb(103, 247, 103);
    }

</style>
<br>
<br>
<div class="container mt-4 ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {%for msg in messages%}
                {% if msg %}
                <div
                    class="alert alert-{{msg.tags}} alert-dismissible fade show font-weight-bold text-primary mr-3 ml-3 mt-5">
                    <small>{{msg}}</small>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endif %}
                {%endfor%}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col-md-6 offset-md-3">

            <form action="" method="post">{% csrf_token %}
                <div class="card shadow text-center ">
                    <div class="card-header"></div>
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Register</h4>
                        <p class="card-text">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Email Address</label>
                                    <input type="email" class="form-control" value="{{email}}"  name="email" id="email-input" placeholder="Enter Email id" onkeyup="validateEmail()" required>
                                    <span id="email-error" ></span>
                                  

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" value="{{fname}}" class="form-control" name="fname" placeholder="Enter first name" required>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">last name</label>
                                    <input type="text" value="{{lname}}" class="form-control" name="lname"placeholder="Enter last name" required>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Username</label>
                                    <input type="text" value="{{uname}}" class="form-control" name="uname" placeholder="Enter Username" required>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="text" class="form-control" id="phone-input" onkeyup="validatePhone()"  name="phone" placeholder="+254xx.." required>
                                    <span id="phone-error"></span>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">County</label>
                                    
                                    <select type="text" value="{{county}}" class="form-control" name="county" required>
                                        <option value="baringo">Baringo</option>
                                        <option value="bomet">Bomet</option>
                                        <option value="bungoma">Bungoma</option>
                                        <option value="busia">Busia</option>
                                        <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                                        <option value="embu">Embu</option>
                                        <option value="garissa">Garissa</option>
                                        <option value="homa bay">Homa Bay</option>
                                        <option value="isiolo">Isiolo</option>
                                        <option value="kajiado">Kajiado</option>
                                        <option value="kakamega">Kakamega</option>
                                        <option value="kericho">Kericho</option>
                                        <option value="kiambu">Kiambu</option>
                                        <option value="kilifi">Kilifi</option>
                                        <option value="kirinyaga">Kirinyaga</option>
                                        <option value="kisii">Kisii</option>
                                        <option value="kisumu">Kisumu</option>
                                        <option value="kitui">Kitui</option>
                                        <option value="kwale">Kwale</option>
                                        <option value="laikipia">Laikipia</option>
                                        <option value="lamu">Lamu</option>
                                        <option value="machakos">Machakos</option>
                                        <option value="makueni">Makueni</option>
                                        <option value="mandera">Mandera</option>
                                        <option value="meru">Meru</option>
                                        <option value="migori">Migori</option>
                                        <option value="marsabit">Marsabit</option>
                                        <option value="mombasa">Mombasa</option>
                                        <option value="muranga">Muranga</option>
                                        <option value="nairobi">Nairobi</option>
                                        <option value="nakuru">Nakuru</option>
                                        <option value="nandi">Nandi</option>
                                        <option value="narok">Narok</option>
                                        <option value="nyamira">Nyamira</option>
                                        <option value="nyandarua">Nyandarua</option>
                                        <option value="nyeri">Nyeri</option>
                                        <option value="samburu">Samburu</option>
                                        <option value="siaya">Siaya</option>
                                        <option value="taita taveta">Taita Taveta</option>
                                        <option value="tana river">Tana River</option>
                                        <option value="tharaka nithi">Tharaka Nithi</option>
                                        <option value="trans nzoia">Trans Nzoia</option>
                                        <option value="turkana">Turkana</option>
                                        <option value="uasin gishu">Uasin Gishu</option>
                                        <option value="vihiga">Vihiga</option>
                                        <option value="wajir">Wajir</option>
                                        <option value="pokot">West Pokot</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" id="pass-input" onkeyup="validatePassword()" name="pass1" required>
                                    <span id="pass-error"></span>

                                    <div class="col mt-4 " >
                                        <input type="checkbox" onclick="myFunction()">Show Password
                                    </div>
                                    
                                    <script>
                                        function myFunction() {
                                            var x = document.getElementById("pass-input");
                                            if (x.type === "password") {
                                                x.type = "text";
                                            } else {
                                                x.type = "password";
                                            }
                                        }
                                    </script>


                                </div>
                            </div>
                        </div>

                  



                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-sm" value="Register">

                                </div>
                            </div>
                        </div>

                        <p class="card-text">
                            <span>Already a Member?</span>
                            <span>
                                <a style="text-decoration: none; font-weight:bold" href="{% url 'login' %}">login</a>

                            </span>
                        </p>

                        </p>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </form>


        </div>
    </div>
</div>
<script>
    var emailError= document.getElementById('email-error');
    var passError = document.getElementById('pass-error');
    var phoneError=document.getElementById('phone-error');

    function validateEmail(){
        var email = document.getElementById('email-input').value;
        if(email.length == 0){
            emailError.innerHTML='Email Field is required!!'
            return false;
        }
        if (!email.match(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
            emailError.innerHTML = 'Email Field is invalid!!'
            return false;
        }
        emailError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true"></i>'
        return true;

    }


    function validatePassword(){
        var password= document.getElementById('pass-input').value;
        var required=8;
        var left = required-password.length;
        if (left >0){
            passError.innerHTML= left+' More characters please !!!'
            return false;

        }
        if (password.length==0) {
            passError.innerHTML = "**Fill the password please!";
            return false;
        }  
        passError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true"></i>'
        return true;
    }


    
        function validatePhone() {
            var password = document.getElementById('phone-input').value;
            var required = 10;
            var left = required - password.length;
            if (left > 0) {
                phoneError.innerHTML = left + ' More Numbers please !!!'
                return false;

            }
          
            phoneError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true"></i>'
            return true;
        }
</script>
<br>
{% endblock %}