{% extends 'main.html' %}
{% block content %}
    <style>
     
        .card {
            background: -webkit-linear-gradient(left, #5f9778, #8a6092);
            color: white;


        }

        	.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}
    .text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
	}
    </style>
    <br><br>
    <hr>
    <div class="container cont mt-4 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                                {% if success_message %}
                                <h3 style="color:green; text-align: center;">{{success_message}}</h3>
                                {% endif %}
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card shadow text-center ">
                        <div class="card-header"></div>
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Update A Course </h4>
                            <p class="card-text">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Course Name</label>
                                        <input type="text" class="form-control" name="title" value="{{form.initial.title}}" required>
                            
                                    </div>
                                </div>
                            
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Institution Offered</label>
                                        <input type="text" class="form-control" name="schools" value="{{form.initial.schools}}" required>
                            
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">image</label>

                                            <!-- Image -->
                                            <div class="form-group image-group" id="id_image_group">
                                                <img class="img-fluid image" style="max-width: 200px;" src="{{form.initial.image.url}}" id="id_image_display">
                                                <div class="middle">
                                                    <div class="text">Change image</div>
                                                </div>
                                            </div>
                                        <input type="file" class="form-control" accept="image/*" name="image" id="id_image_file" accept="image/*" onchange="readURL(this)">

                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Year of Study</label>
                                        <input type="text" class="form-control" name="academic_year" value="{{form.initial.academic_year}}" required>
                            
                                    </div>
                                </div>
                            
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Total Tution Fee</label>
                                        <input type="number" class="form-control" name="tution_fees" value="{{form.initial.tution_fees}}" required>
                            
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Number of Lectures</label>
                                        <input type="number" class="form-control" name="lectures" value="{{form.initial.lectures}}" required>
                            
                                    </div>
                                </div>
                            
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Intake in</label>
                                        <input type="date" class="form-control" name="intake_in" value="{{form.initial.intake_in}}" required>
                            
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Course Faculty</label>
                                        <input type="text" class="form-control" name="faculty" value="{{form.initial.faculty}}" required>
                            
                                    </div>
                                </div>
                            
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Location:</label>
                                        <input type="text" class="form-control" name="location"value="{{form.initial.location}}" required>
                            
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea name="description" id="summernote" class="form-control" cols="30" rows="10"  value="{{form.initial.description}}"></textarea>
                            
                                </div>
                            </div>





                            <div class="row">
                                <div class="col text-center">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-block btn-sm" value="Submit">

                                    </div>
                                </div>
                            </div>




                            </p>


                            <p class="card-text">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="form-group">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                        <a href="{% url 'dashboard2' %}" style="text-decoration: none;font-weight:bold">Back</a>
                            
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <br>

    <!-- Optional JavaScript -->
    <script type="text/javascript">
        document.getElementById('id_image_group').onclick = function (event) {
            document.getElementById('id_image_file').click();
        };

        function readURL(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#id_image_display')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>

 {% endblock %}